<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list padding *ngFor="let evento of eventos">
      <ion-item >
          <ion-text color="secondary">
              <h1>{{evento.nombre}}</h1>
            </ion-text>
          <p>{{evento.descripcion}}</p>
          <p>{{evento.horaInicio}}</p>
          <ion-button color="warning" [routerLink]="['../../mapa/',evento._id]" routerDirection="mapa">ir</ion-button>
      </ion-item>
  </ion-list>
</ion-content>
