<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="informacion">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Informacion</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa">
      <ion-icon name="map"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notificacion">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacto">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>